body {
  color: white;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  overflow-x: hidden;
}

a {
  color: white;
}

.transparency {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}

.navbar-top {
  /* background: linear-gradient(to bottom, rgb(36, 36, 79), rgb(81, 81, 114)); */
  background: linear-gradient(to bottom, rgb(8, 27, 43), rgb(55, 78, 100));
  position: fixed;
  width: 100%;
  z-index: 2;
}

.create-acc > a {
  border-right: 0.1em solid white;
  padding: 0.4em;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: all;
  color: white;
  font-weight: 600;
}

.create-acc > a:hover {
  background-color: orangered;
  /* padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em; */
  border-radius: 5px;
}

.log-in > a {
  border-left: 0.1em solid white;
  padding: 0.4em;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: all;
  color: white;
  font-weight: 600;
}

.log-in > a:hover {
  background-color: orangered;
  /* padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em; */
  border-radius: 5px;
}

ul {
  list-style-type: none;
}
.banner {
  margin-top: 13em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  transition-duration: 0.5s;
  border-radius: 20px;
  text-align: left;
  width: 25em;
  visibility: initial;
  /* animation-name: slideIn; */
}
.banner:hover {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: scale(0.95);
  box-shadow: 0px 1px 1px rgba(225, 225, 225, 0.4),
    0px 1px 1px rgba(0, 0, 0, 0.08);
}
.p {
  font-size: 20px;
}
.home-list {
  padding: 1em;
  margin-top: 10em;
}
.home-list > li {
  padding: 1em;
  margin: 1em;
  transition-duration: 0.5s;
}
.home-list > li:hover {
  transform: scale(0.95);
  box-shadow: 0px 1px 1px rgba(225, 225, 225, 0.4),
    0px 1px 1px rgba(0, 0, 0, 0.08);
}
.home-list > li > i {
  margin-right: 1em;
}

.start > a > button {
  padding: 0.7em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition-duration: 0.5s;
  color: rgb(8, 27, 43);
}
.start > a > button:hover {
  /* background: linear-gradient(to right, rgb(36, 36, 79), rgb(81, 81, 114)); */
  background: linear-gradient(
    to left,
    rgb(8, 27, 43),
    rgb(55, 78, 100),
    rgb(8, 27, 43)
  );
  transform: scale(0.8);
  font-weight: 600;
  color: white;
}

footer {
  background: linear-gradient(to bottom, rgb(8, 27, 43), rgb(55, 78, 100));
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
}
.social > li {
  padding: 1em;
}
.social > li > a {
  color: rgb(200, 200, 225);
}
.social > li > a:hover {
  color: white;
}
.contact {
  padding-right: 3em;
}
.contact > a {
  text-decoration: none;
  font-weight: 500;
}
.contact > a:hover {
  text-decoration: underline;
  color: white;
}

@media (max-width: 767px) {
  .home-list {
    margin-top: 1em;
  }
  .banner {
    margin-top: 8em;
    text-align: center;
  }
  footer {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .social {
    flex-direction: row;
  }
  .copy-write {
    padding-left: 3em;
  }
  .contact {
    padding-left: 3em;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @keyframes slideIn {
    0% {
      color: transparent;
    }
    50% {
    color:grey;
    }
    100% {
      color: white;
    }
  } */
