body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    width: 30%;
    min-width:25em;
    padding: 2em;
}

.login-form > input {
    background: transparent;
    width: 90%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid white;
    outline-color: white;
    color: white;
}

.login-form > input::placeholder {
    color: white;
}

.login-btn > a > button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 8em;
    color: rgb(12,35,55);
    transition-duration: 0.5s;
}

.login-btn > a > button:hover {
    background-color:rgb(12,35,55) ;
    color: white;
    transform: scale(0.9);
}

.issues {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

h4 {
    color: rgb(185,203,215);
}

a {
    color: rgb(185,203,215);
    width: fit-content;
    margin-left: 1em;
}

p {
    color: rgb(185,203,215);
}