body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    height: fit-content;
    width:fit-content;
    padding: 2em;
    padding-bottom: 5em;
    margin: 2em;
}

.login-form > input {
    background: transparent;
    width: 90%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid rgb(4,28,48);
    outline-color: rgb(4,28,48);
    color: rgb(4,28,48);
    border-radius: 5px;
}

.login-form > input::placeholder {
    color: rgb(4,28,48);
}

.login-btn >button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 8em;
    color: rgb(12,35,55);
    transition-duration: 0.5s;
    background-color: rgb(245, 245, 245);
    margin-bottom: 0.3em;
}

.login-btn >button:hover {
    background-color:rgb(12,35,55) ;
    color: white;
    transform: scale(0.9);
}

.issues {
    display: flex;
    flex-direction: column;
}

.issues > a {
    margin-bottom: 1em;
}

h4 {
    color: rgb(40, 81, 106);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a {
    width: fit-content;
    color: rgb(4,28,48);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
   color: rgb(4,28,48); 
   text-decoration: underline;
}

p {
    color: rgb(40, 81, 106);
    font-weight: 500;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}